<div class="register-form">
  <form [formGroup]="registerform" (ngSubmit)="onSubmit()">
    <!-- Name with simple validation -->
    <div class="row">
      <div class="col-md-6">
        <label>First Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="firstname"
          placeholder="Enter First Name"
          [ngClass]="{ 'is-invalid': submitted && f['firstname'].errors }"
        />
        <div
          *ngIf="f['firstname'].touched && !f['firstname'].valid"
          class="text-danger"
        >
          <div *ngIf="f['firstname'].errors?.['required']">
            Field is required
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label>Last Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="lastname"
          placeholder="Enter Last Name"
          [ngClass]="{ 'is-invalid': submitted && f['lastname'].errors }"
        />
        <div
          *ngIf="f['lastname'].touched && !f['lastname'].valid"
          class="text-danger"
        >
          <div *ngIf="f['lastname'].errors?.['required']">
            Field is required
          </div>
        </div>
      </div>
    </div>

    <!-- radio button vadliation -->
    <div>
      <label>Gender</label>
      <label><input type="radio" formControlName="gender" value="Male" /> Male</label>
      <label><input type="radio" formControlName="gender" value="Female" />Female</label>
      <div *ngIf="f['gender'].touched && !f['gender'].valid" class="text-danger">
        <div *ngIf="f['gender'].errors?.['required']">
          Select 1 field
        </div>
      </div>
    </div>

    <!-- address with nested formgroup with validation -->
    <div class="row">
      <div formGroupName="address">
        <div class="col-sm-6">
          <label>Address</label>
          <input
            type="text"
            class="form-control"
            formControlName="street"
            placeholder="Enter street"
            [ngClass]="{ 'is-invalid': submitted && g['street'].errors }"
          />
          <div
            *ngIf="g['street'].touched && !g['street'].valid"
            class="text-danger"
          >
            <div *ngIf="g['street'].errors?.['required']">
              street is required
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <label>city</label>
          <input
            type="text"
            class="form-control"
            formControlName="city"
            placeholder="Enter city"
          />
          <div
            *ngIf="g['city'].touched && !g['city'].valid"
            class="text-danger"
          >
            <div *ngIf="g['city'].errors?.['required']">city is required</div>
          </div>
        </div>

        <!-- validation with inbulid validator -->
        <div class="col-sm-3">
          <label>zipcode</label>
          <input
            type="text"
            class="form-control"
            formControlName="zipcode"
            placeholder="Enter zipcode"
          />
          <div
            *ngIf="g['zipcode'].touched && !g['zipcode'].valid"
            class="text-danger"
          >
            <div *ngIf="g['zipcode'].errors?.['required']">zip is required</div>
            <div *ngIf="g['zipcode'].errors?.['minlength']">Min 2 length</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <label>Email</label>
      <input
        type="text"
        class="form-control"
        formControlName="email"
        placeholder="Enter Email"
      />
      <div *ngIf="f['email'].touched && !f['email'].valid" class="text-danger">
        <div *ngIf="f['email'].errors?.['required']">Email is required</div>
        <div *ngIf="f['email'].errors?.['email']">Email is invalid</div>
      </div>
    </div>

    <!-- file input validation -->
    <div class="col-md-6">
      <label class="form-label">Image Upload</label>
      <input
        (change)="onImagChangeFromFile($event)"
        type="file"
        accept="image/png"
        class="form-control"
        formControlName="imageInput"
        [ngClass]="{ 'is-invalid': submitted && f['imageInput'].errors }"
      />
      <div *ngIf="submitted && f['imageInput'].errors" class="text-danger">
        <div *ngIf="f['imageInput'].errors['required']">
          PNG Image is required
        </div>
      </div>
    </div>

    <br />

    <!-- Password and confirm password with match validator -->
    <div class="row">
      <div class="col-sm-6 form-group">
        <label>Password</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
        />
        <div *ngIf="f['password'].touched && f['password'].invalid" class="text-danger">
          <div *ngIf="f['password'].errors?.['required']">
            Password is required
          </div>
        </div>
      </div>
      <div class="col-sm-6 form-group">
        <label>Confirm Password</label>
        <input
          type="text"
          formControlName="confirm_password"
          class="form-control"
        />
        <div
          *ngIf="f['confirm_password'].touched && f['confirm_password'].invalid" class="text-danger"
        >
          <div *ngIf="f['confirm_password'].errors?.['required']">
            Password is required
          </div>
          <div *ngIf="f['confirm_password'].errors?.['confirmedValidator']">
            Password and confirm password must be match
          </div>
        </div>
      </div>
    </div>

    <!-- Webside URL validation -->
    <div class="row">
      <div class="col-sm-6">
        <label>Webside URL</label>
        <input type="text" formControlName="url" class="form-control" />
        <div *ngIf="f['url'].touched && !f['url'].valid" class="text-danger">
          <div *ngIf="f['url'].errors?.['required']">URL is required</div>
          <div *ngIf="f['url'].errors?.['pattern']">Please enter valid url</div>
        </div>
      </div>
    </div>

    <!-- Formarray validation -->
    <div formArrayName="hobbies">
      <label>Your Hobbies</label>
      <button class="btn btn-default" type="button" (click)="onAddHobby()">
        Add hobby
      </button>
      <div
        class="form-group"
        *ngFor="let hobbyControl of controls; let i = index"
      >
        <input type="text" class="form-control" [formControlName]="i" />
        <div *ngIf="controls[i].touched && !controls[i].valid" class="text-danger">
          <div *ngIf="controls[i].errors?.['required']">required</div>
        </div>
      </div>
    </div>

    <br />

    <!-- multi checkbox validation -->
    <div *ngFor="let data of Data; let i=index">
      <label>
        <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event)" />
        {{data.name}}
      </label>
    </div>
      <div *ngIf="f['checkArray'].errors?.['required']" class="text-danger">
        Checkbox is required, select atleast one value.
      </div>  
    

    <!-- single checkbox validation -->
    <div class="form-group form-check">
      <input
        type="checkbox"
        formControlName="acceptTerms"
        id="acceptTerms"
        class="form-check-input"
        [ngClass]="{ 'is-invalid': submitted && f['acceptTerms'].errors }"
      />
      <label for="acceptTerms" class="form-check-label"
        >Accept Terms & Conditions</label
      >
      <div
        *ngIf="submitted && f['acceptTerms'].errors"
        class="invalid-feedback"
      >
        <!-- Accept Ts & Cs is required -->
      </div>
    </div>

    <div>
      <button class="btn btn-primary" [disabled]="registerform.invalid">
        Submit
      </button>
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
    <div>
      <button class="btn btn-danger" type="button" (click)="onReset()">
        Reset
      </button>
    </div>
  </form>
</div>
